.pacman {
  width: 55px;
  height: 47px;
  background: url("../pacman-xs.png");
  animation-name: moving;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(3);
  animation-fill-mode: both;
  position: absolute;
  right: -60px;
  bottom: 0;
  transform: translateY(-100px);
}

.speed-slow {
  transition: transform 3s;
  transition-timing-function: linear;
}

.speed-slow-s {
  transition: transform 2.7s;
  transition-timing-function: linear;
}

.speed-slow-n {
  transition: transform 2.5s;
  transition-timing-function: linear;
}

.speed-slow-f {
  transition: transform 2.3s;
  transition-timing-function: linear;
}

.speed-normal {
  transition: transform 2s;
  transition-timing-function: linear;
}

.speed-normal-s {
  transition: transform 1.7s;
  transition-timing-function: linear;
}

.speed-normal-n {
  transition: transform 1.5s;
  transition-timing-function: linear;
}

.speed-normal-f {
  transition: transform 1.3s;
  transition-timing-function: linear;
}

.speed-fast {
  transition: transform 1s;
  transition-timing-function: linear;
}

.speed-fast-s {
  transition: transform .7s;
  transition-timing-function: linear;
}

.speed-fast-n {
  transition: transform .5s;
  transition-timing-function: linear;
}

.speed-fast-f {
  transition: transform .3s;
  transition-timing-function: linear;
}

@keyframes moving {
  0% {
    background-position: 0;
  }
  
  100% {
    background-position: -165px;
  }
}