#game {
  width: 70rem;
  height: 300px;
  border: 1px solid #eee;
  position: relative;
  background: url("../background.jpg");
  animation-name: movebg;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
  overflow: hidden;
}

.points {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-1rem) translateY(1rem);
  border: 1px solid #222;
  width: 8rem;
  height: 2rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 1px;
}

.points > span {
  margin-block-end: .3rem;
}

.danger-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(-130px) translateX(-2rem);
  font-size: 1.8em;
  border: 1px solid #222;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-content: center;
  animation-name: alertIcon;
  animation-duration: .8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  display: none;
}

@keyframes alertIcon {
  0% {
    background-color: #eee;
    /* color: #222 ; */
  }

  50% {
    background-color: #a009;
    /* color: #eee; */
  }

  100% {
    background-color: #eee;
    /* color: #222; */
  }
}

@keyframes movebg {
  0% {
    background-position: 0;
  }

  100% {
    background-position: -2000px;
  }
}